:root{
    --main-color: rgb(255, 255, 255);
    --second-color: rgb(41, 199, 10);
    --third-color: rgb(48, 153, 71);
    --fourth-color: rgb(122, 114, 114);
    --fifth-color: rgb(46, 44, 44);
    --sixth-color: rgb(0, 0, 0);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.active{
    color: var(--third-color);
}

/* Start of Nav Bar */

nav{
    background: var(--fifth-color);
}

nav::after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    padding-left: 60px;
    padding-top: 10px;
    display: flex;
}

nav .logo img{
    height: 80px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    padding-top: 10px;
}

nav ul li{
    float: left;
    display: inline;
    background:var(--fifth-color);
    margin: 4px 5px;
}

nav ul li a{
    color: var(--main-color);
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: var(--third-color);
    transition: 0.5s;
}

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid var(--third-color);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid var(--third-color);
}

nav ul ul li a{
    line-height: 50px;
}



@media all and (max-width: 1156px) {
    nav ul{
        margin-right: 10px;
        float: left;
    }
    .logo{
        margin-left: 33%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
        text-align: center;
    }
    nav ul ul{
        top: 5px;
        position: relative;
        border-top: none;
        float: none;
        display:none;
        opacity: 1;
        visibility: visible;
    }
    nav ul li:hover > ul{
        top: 0;
    }
    nav ul li:hover ul{
        display: inline;
    }
}

@media all and (max-width: 1100px) {
    .logo{
        margin-left: 34%;
    }
}

@media all and (max-width: 600px) {
    .logo{
        margin-left: 31%;
    }
}

@media all and (max-width: 550px) {
    .logo{
        margin-left: 29%;
    }
}

@media all and (max-width: 500px) {
    .logo{
        margin-left: 28%;
    }
}

@media all and (max-width: 400px) {
    .logo{
        margin-left: 21%;
    }
}

@media all and (max-width: 350px) {
    .logo{
        margin-left: 17%;
    }
}

@media all and (max-width: 300px) {
    .logo{
        margin-left: 11%;
    }
}

/* End of Nav Bar */

/* Start of Footer */

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: var(--fifth-color);
    color: var(--main-color);
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 20px 20px;
}

.box h2{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.center .content .cc{
    padding: 30px 0 0 0;
}

.left ul li{
    list-style: none;
    padding: 5px 0 0 0;
}

.left ul li a{
    text-decoration: none;
    color: var(--main-color);
}

.left ul li a:hover{
    color: var(--third-color);
    transition: 0.5s;
}

.right .content .phone, .email, .social{
    margin:10px 0;
}

.social a{
    padding: 0 10px 0 0;
}

@media all and (max-width: 1197px) {
    .text{
        font-size: 14px;
    }
    .main-content{
        flex-direction: column;
    }
}

/* End of Footer */