body{
    background-color: rgba(156, 229, 150, 0.758);
}

.img-fluid{
    width: 70%;
    max-height: 35em;
    margin-left: 15%;
    margin-top: 10px;
    border-radius: 10px;
}

.heading{
    margin-left: 19%;
    margin-top: 10px;
    color: var(--third-color);
    font-size: 25px;
    line-height: 2.5;
}

.para{
    margin-left: 20%;
    width: 60%;
    line-height: 1.9;
    text-align: justify;
}

.second_img{
    width: 125px;
    height: auto;
    margin-left: 20px;
}

.third img{
    width: 15%;
    height: auto;
}

.flex-container1{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-container2{
    display: flex;
    padding-right: 10px;
}

.ozone_img{
    height: 125px;
    width: 125px;
    margin-right: 50%;
}

.fourth_img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.fifth{
    margin-left: 20%;
    margin-top: 1%;
    width: 60%;
    margin-bottom: 30px;
    line-height: 1.9;
    text-align: justify;
}

.list{
    padding: 0 0 0 30px;
}

@media all and (max-width: 1197px) {
    .img-fluid{
        width: 95%;
        margin-left: 3%;
    }
    .para, .heading{
        width: 90%;
        margin-left: 15px;
    }
    .second_img, .ozone_img{
        margin: 10px 30%;
    }
    .flex-container1,.flex-container2{
        flex-direction: column;
    }
    .fifth{
        margin-left: 20px;
        width: 90%;
    }
}

@media all and (max-width: 800px) {
    .para{
        width: 90%;
        margin-left: 15px;
        line-height: 1.6;
        font-size: 14px;
    }
    .img-fluid{
        margin: 10px 15px;
        height: 375px
    }
    .heading{
        margin: 10px 0 10px 15px;
        line-height: 1.1;
        font-size: 19px;
    }
    .fifth{
        padding: 0 10px;
        line-height: 1.6;
        font-size: 14px;
    }
}
